<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Absinth84">

  <title>FlaskHeat</title>

  <!-- Custom fonts for this template-->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Flaskheat</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" href="generalsettings">
          <i class="fas fa-fw fa-cog"></i>
          <span>General Settings</span>
        </a>
      </li>


      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="weeklyplan">
          <i class="fas fa-fw fa-table"></i>
          <span>Weekly Plan</span></a>
      </li>



      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-light bg-white   ">
          <h1 class="navbar-brand">General Settings</h1>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->

          <br>

          <!-- Temp Selection -->
          <form action="generalsettings" method="POST" name="gSetForm" id="gSetForm">
            <!-- Enable switch -->
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="enableSwitch" name="enableSwitch" data-toggle="toggle" value="true" {{generalSettings['enabled']}}>
              <label class="custom-control-label" for="enableSwitch">Heating Enable</label>
            </div>
            <br>
            <div class="col-6">
              <div class="form-group">
                <label for="formControlDayTemp">Day Temp</label>
                <select class="form-control form-control-lg" id="formControlDayTemp" name="formControlDayTemp" style="width:40%; min-width: 80px;">
                  <option selected>{{generalSettings['dayTemp']}}</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>19.5</option>
                  <option>20</option>
                  <option>20.5</option>
                  <option>21</option>
                  <option>21.5</option>
                  <option>22</option>
                  <option>23</option>
                </select>
              </div>

              <div class="form-group">
                <label for="formControlNightTemp">Night Temp</label>
                <select class="form-control form-control-lg" id="formControlNightTemp" name="formControlNightTemp" style="width:40%; min-width: 80px;">
                  <option selected>{{generalSettings['nightTemp']}}</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>19.5</option>
                  <option>20</option>
                  <option>20.5</option>
                  <option>21</option>
                  <option>21.5</option>
                  <option>22</option>
                  <option>23</option>
                </select>
              </div>

              <div class="form-group">

                <label for="formControlMinTemp"></label>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="enableMinTempSwitch" name="enableMinTempSwitch" value="true" {{generalSettings['enableMinTemp']}}>
                  <label class="custom-control-label" for="enableMinTempSwitch">Min Temp Enable</label>
                </div>
                <select class="form-control form-control-lg" id="formControlMinTemp" name="formControlMinTemp" style="width:40%; min-width: 80px;">
                  <option selected>{{generalSettings['minTemp']}}</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                </select>
                <br>
                <br>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="enableHistoricalDataSwitch" name="enableHistoricalDataSwitch" value="true" {{generalSettings['enableHistoricalData']}}>
                    <label class="custom-control-label" for="enableHistoricalDataSwitch">Historical Temp Enable</label>
                  <small  class="form-text text-muted" style="width:200%; min-width: 100px;">Collect temperature</small>
                </div>
                <br>
                <br>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="enableExtTempSwitch" name="enableExtTempSwitch" value="true" {{generalSettings['enableExtTemp']}}>
                  <label class="custom-control-label" for="enableExtTempSwitch">External Temp Enable</label>
                </div>
                <input class="form-control" id="extTempUrl" name="extTempUrl" value="{{generalSettings['extTempUrl']}}" style="width:200%">
                <small  class="form-text text-muted" style="width:200%">Url from www.wunderground.com to retrive external temperature</small>
                <br>
                <div class="form-group">
                  <label for="exampleInputEmail1">Relay GpIO</label>
                  <input class="form-control" id="relayGpio" name="relayGpio" value="{{generalSettings['relayGpio']}}" style="width:40%; min-width: 100px;">
                </div>  
              </div>

              
            </div>

         
            <a class="btn btn-success btn-icon-split" id="saveButton" name="saveButton">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Save</span>
            </a>
          </form>
        </div>
        <!-- /.container-fluid -->


      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>

</body>

</html>




<!-- Save Button POST  -->
<script>
  $("#saveButton").on('click', function () {
        document.gSetForm.submit(); 
        
        
       // alert($( "#gSetForm" ).serialize())
      })
</script>