

    <form action="http://localhost:5000/weeklyplan" method="post">
        <div>
          <label for="say">What greeting do you want to say?</label>
          <input name="say" id="say" value="Hi">
        </div>
        <div>
          <label for="to">Who do you want to say it to?</label>
          <input name="to" id="to" value="Mom">
        </div>
        <div>
          <button>Send my greetings</button>
        </div>
      </form>


      <!DOCTYPE html>
<html>
<body>

<form action="http://localhost:5000/weeklyplan" method="post">
<select name="cars">
  <option value="volvo">Volvo XC90</option>
  <option value="saab">Saab 95</option>
  <option value="mercedes">Mercedes SLK</option>
  <option value="audi">Audi TT</option>
</select>
<input type="submit" value="Submit">
</form>

<p>Choose a car, and click the "Submit" button to send input to the server.</p>

</body>
</html>
